profiles {
    lewis {
        process {
            executor = 'slurm'
            queue = 'BioCompute'
            clusterOptions = '--account=warrenlab'
            conda = '/storage/hpc/group/warrenlab/users/esrbhb/mambaforge/envs/vg'
        }

        conda.enabled = true
    }

    coolmuc {
        process {
            executor = 'slurm'
            queue = 'biohpc_gen_normal'
        }
    }

    conda {
        process.conda = "$baseDir/conda.yml"
        conda.enabled = true
    }
}

process {
    memory = '50 GB'
    time = '2h'

    withName: "SNARLS|PACK|CALL" {
        cpus = 12
    }

    withName: "GIRAFFE" {
        cpus = 12
        time = '2d'
    }

    withName: "MERGE_VCFS" {
        publishDir = [path: "out/", mode: "copy"]
        time = '2d'
    }
}

report.enabled = true

manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/WarrenLab/giraffe-svs-nf'
    author = 'Edward S. Rice'
    version = '0.0.1'
}
