profiles {
    lewis {
        process {
            memory = '150 GB'
            time = '2d'
            executor = 'slurm'
            queue = 'BioCompute'
            clusterOptions = '--account=warrenlab'
            conda = '/storage/hpc/group/warrenlab/users/esrbhb/mambaforge/envs/vg'

            withName: "SNARLS|GIRAFFE|PACK|CALL" { cpus = 16 }
            withName: "MERGE_VCFS" { publishDir = [path: "out/", mode: "copy"] }
        }

        conda.enabled = true
    }

    conda {
        process.conda = "$baseDir/conda.yml"
        conda.enabled = true
    }
}


manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/WarrenLab/giraffe-svs-nf'
    author = 'Edward S. Rice'
    version = '0.0.1'
}
